@import 'lcars/lcars'

@font-face {
  font-family: 'lcars';
  src: url('../font/LCARSGTJ3.woff') format('woff');
}

html {
  font-family: lcars;
  font-size: 12px;
}

body {
  margin: 0;
  font-size: 16px;
  color: #fff;
  font-family: 'lcars','sans-serif';
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
