:root {
  --gray: #223344;

  --pale-canary: #ffff99;
  --golden-tanoi: #ffcc66;
  --neon-carrot: #ff9933;
  --eggplant: #664466;
  --lilac: #cc99cc;
  --anakiwa: #99ccff;
  --mariner: #3366cc;
  --bahama-blue: #006699;
  --red-alert: #ee1100;

  --blue-bell: #9999cc;
  --melrose: #9999ff;
  --hopbush: #cc6699;
  --chestnut-rose: #cc6666;
  --orange-peel: #ff9966;
  --atomic-tangerine: #ff9900;

  --danub: #6688cc;
  --indigo: #4455bb;
  --lavender-purple: #9977aa;
  --cosmic: #774466;
  --red-damask: #dd6644;
  --medium-carmine: #aa5533;
  --bourbon: #bb6622;
  --sandy-brown: #ee9955;

  --periwinkle: #ccddff;
  --dodger-blue: #5599ff;
  --dodger-blue-alt: #3366ff;
  --blue: #0011ee;
  --navy-blue: #000088;
  --husk: #bbaa55;
  --rust: #bb4411;
  --tamarillo: #882211;
}

@font-face {
  font-family: "lcars";
  src: url("./font/LCARSGTJ3.woff") format("woff");
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "lcars";
  font-size: 28px;
  background-color: black;
  color: white;
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.dashboard-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lcars-row-container {
  display: flex;
  align-items: stretch;
  height: 100%;
  border-collapse: collapse;

  & div {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-right: 0.15rem solid black;
    &:first-child {
      border-left: 0.15rem solid black;
    }
  }
}

.lcars-col-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  border-collapse: collapse;

  & div {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-bottom: 0.15rem solid black;
    &:first-child {
      border-top: 0.15rem solid black;
    }
  }
}

.clock {
  color: var(--golden-tanoi);

  .number {
    display: inline-block;
    font-size: 5rem;
    line-height: 5rem;
    min-width: 0.36em;
  }
  .divider {
    font-size: 3rem;
  }
  .am-pm {
    font-size: 1.5rem;
    padding-left: 0.1em;
  }
}

.timeline {
  .vis-time-axis {
    .vis-text {
      color: var(--melrose);
    }
  }

  .vis-rolling-mode-btn {
    width: auto;
    padding: 0.3rem 0.5rem 0.1rem;
    border-radius: 0.25rem;
    font-weight: 100;
    opacity: 1;
    background-color: var(--lavender-purple);
    &::before {
      content: "RST";
    }
  }

  .vis-group.forecasts {
    .vis-box {
      border: 0;
      background-color: transparent;
      height: 2rem;
      padding-left: 0.2rem;
    }

    .vis-dot {
      display: none;
    }

    .vis-line {
      display: none;
    }
  }
}

.hourly-forecast-small {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .temp {
    padding-left: 0.25rem;
  }
}
