:root {
  --gray: #223344;

  --pale-canary: #ffff99;
  --golden-tanoi: #ffcc66;
  --neon-carrot: #ff9933;
  --eggplant: #664466;
  --lilac: #cc99cc;
  --anakiwa: #99ccff;
  --mariner: #3366cc;
  --bahama-blue: #006699;
  --red-alert: #ee1100;

  --blue-bell: #9999cc;
  --melrose: #9999ff;
  --hopbush: #cc6699;
  --chestnut-rose: #cc6666;
  --orange-peel: #ff9966;
  --atomic-tangerine: #ff9900;

  --danub: #6688cc;
  --indigo: #4455bb;
  --lavender-purple: #9977aa;
  --cosmic: #774466;
  --red-damask: #dd6644;
  --medium-carmine: #aa5533;
  --bourbon: #bb6622;
  --sandy-brown: #ee9955;

  --periwinkle: #ccddff;
  --dodger-blue: #5599ff;
  --dodger-blue-alt: #3366ff;
  --blue: #0011ee;
  --navy-blue: #000088;
  --husk: #bbaa55;
  --rust: #bb4411;
  --tamarillo: #882211;
}

@font-face {
  font-family: "lcars";
  src: url("./font/LCARSGTJ3.woff") format("woff");
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "lcars";
  font-size: 32px;
  background-color: black;
  color: white;
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}

.lcars-row-container {
  display: flex;
  align-items: stretch;
  height: 100%;
  border-collapse: collapse;

  & div {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-right: 0.15rem solid black;
    &:first-child {
      border-left: 0.15rem solid black;
    }
  }
}

.lcars-col-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  border-collapse: collapse;

  & div {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-bottom: 0.15rem solid black;
    &:first-child {
      border-top: 0.15rem solid black;
    }
  }
}

.clock {
  .number {
    display: inline-block;
    color: var(--golden-tanoi);
    font-size: 3rem;
    min-width: 0.36em;
  }
  .divider {
    color: var(--golden-tanoi);
    font-size: 2rem;
  }
  .am-pm {
    padding-left: 0.1em;
    color: var(--golden-tanoi);
  }
}

.timeline {
  .vis-item.vis-box {
    border: 0;
    border-radius: 0.5rem;
  }
}
